<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../static/scripts/jquery-3.3.1/jquery.min.js"></script>
    <title>dom</title>
</head>
<body>

<p title="选择你最喜欢的水果." >你最喜欢的水果是?</p>
    <ul id="ul-first">
        <li title='苹果'>苹果</li>
        <li title='橘子'>橘子</li>
        <li title='菠萝'>菠萝</li>
    </ul>

<script>
    <!--替换节点-->
    // $("p").replaceWith("<strong>你好呀！</strong>");
    // or
    $("<strong>嘿嘿</strong>").replaceAll("p");


</script>

</body>
</html>