<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../../static/scripts/jquery-3.3.1/jquery.min.js"></script>
    <title>dom</title>
</head>
<body>

<p title="选择你最喜欢的水果." >你最喜欢的水果是?</p>
    <ul id="ul-first">
        <li title='苹果'>苹果</li>
        <li title='橘子'>橘子</li>
        <li title='菠萝'>菠萝</li>
    </ul>

<script>
    <!--属性操作-->
    var $p = $("p");// 获取p节点
    // 获取属性
    var title_txt = $p.attr("title");
    console.log(title_txt);
    // 设置属性
    $p.attr("title","你好呀");
    console.log($p.attr("title"));
    // 删除属性
    $("#ul-first").removeAttr("id");





</script>

</body>
</html>